extends layout

block scripts
  script(src='/javascripts/index.js')

block content
  h1= title
  p Welcome to #{title}

  div(id= "form")
    each param in params_to_set
      div
        label(for= param)= param + ':'
        input(name= param id="param_to_set_" + param)

  div
    a(id= "url" target="_blank" href="#{base_url}")= base_url
  div
    button(id= "copyUrl") Copy link to clipboard
  div
    button(id= "sendSms") Send SMS
  div
    button(id= "sendEmail") Send email

  script.
    base_url= "#{base_url}";
    params_to_set= !{JSON.stringify(params_to_set)};
    fixed_params= !{JSON.stringify(fixed_params)};
