extends layout

block scripts
  script(src='/javascripts/index.js')

block content
  h1= title
  p Welcome to #{title}

  div(id= "form")
    each param in params_to_set
      div
        label(for= param)= param + ':'
        input(name= param id="param_to_set_" + param)

  div
    span(id= "url")= base_url
  div
    button(id= "copyURL") Copy link to clipboard



  script.
    base_url= "#{base_url}";
    params_to_set= !{JSON.stringify(params_to_set)};
    fixed_params= !{JSON.stringify(fixed_params)};
